<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />

<link href="style_s.css" rel="stylesheet" />
<title>추천 게시물</title>

<style>

img {
max-width: 100%;
height: auto;
text-align: center;
}

.list {
margin: 30px;
}

body {
text-align: center;
font-family: 'Do Hyeon', sans-serif;
}
 header {
        background: #2c3e50;
    height: auto;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Do Hyeon', sans-serif;
        }
.parent{
    width: 100%;
    margin: 10px auto;
}

.first {
    border: 5px solid red;
    float: left;
    width:30%;
    box-sizing: border-box;
}

.second{
    border: 5px solid green;
    float: left;
    margin-left: 5%;
    width:30%;
    box-sizing: border-box;
}

.third{
    border: 5px solid blue;
    float: right;
    width:30%;
    box-sizing: border-box;
}


table.type03 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 4px solid #2c3e50;
  margin : 15px 0;
}
table.type03 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.type03 td {
  width: 349px;
  padding: 2px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

body>h1 {
text-align = center;
}

.main {
min-width: 320px;
max-width: 800px;
padding: 10px;
border-radius: 7px;;
background: #ffffff;}

section {
display: none;
padding: 0 0 0;
border-top: 1px solid #ddd;}

input {
display: none;}

label {
display: inline-block;
padding: 15px 25px;
font-weight: 600;
color: #bbb;
border: 1px solid transparent;}

label:hover {
color: #2e9cdf;
cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
color: #555;
border: 1px solid #ddd;
border-top: 2px solid #2c3e50;
border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
display: block;}


</style>


<script language = "javascript">
    var name = 'http://naver.com';
</script>


</head>


<header>추천 게시물</header>


<div class="main" style="text-align:center">

<input id="tab1" type="radio" name="tabs" checked>
<label for="tab1">Blog</label>

<input id="tab2" type="radio" name="tabs">
<label for="tab2">Twitter</label>

<input id="tab3" type="radio", name="tabs">
<label for="tab3">Instagram</label>


<section id="content1" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120245765-389ce500-c2a9-11eb-9a0e-393cf0df400b.png" align="center" width="10%" height="10%" /> Blog</h1>


<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210320</td>
</tr>






<tr>
<th scope="row">title</th>
<td>2021년 일자리 안정자금 신청방법, 달라진 조건은?</td>
</tr>






<tr>
<th scope="row">content</th>
<td>정부에서는 어려운 환경 속에서 사업을 영위하는 중소기업과 고용에 어려움을 겪는 노동자를 위해서 일자리 안정자금을 지원하고 있는데요 오늘은 2021년 일자리 안정자금의 조건부터 신청방법까지 함께... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/1004goods?Redirect=Log&logNo=222281361394'>https://blog.naver.com/1004goods?Redirect=Log&logNo=222281361394</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>안정</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20201215</td>
</tr>






<tr>
<th scope="row">title</th>
<td>15년 독서기록장에서 퍼올린, 짧고 좋은 글귀 모음!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>소개해드린 짧고 좋은 글귀 모음 중 나와 잘 어울리는 좋은 문장 하나, 가슴 안에 품고 가는 건 어떨까요? 살다 보면 짧고 좋은 글귀 하나가 주는 힘이 어마어마하거든요. 힘들 때나 슬플 때 든든한 버팀목이... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/druas?Redirect=Log&logNo=222174832385'>https://blog.naver.com/druas?Redirect=Log&logNo=222174832385</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>좋은 글귀</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20201023</td>
</tr>






<tr>
<th scope="row">title</th>
<td>힘나는 전복요리, 전복솥밥 하는법!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>힘나는 전복요리, 전복솥밥 하는법! 어느새 불금이네요. ^^ 나래가 주 5회 등교를 시작해서 정신이... ㅎㅎ 이렇게 모두 애쓰고 난 주말엔 힘나는 보양식으로 기력보충을 해주면 좋겠죠. ^^ 전복 솥밥은 굉장히... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/jiwon_n37?Redirect=Log&logNo=222124564772'>https://blog.naver.com/jiwon_n37?Redirect=Log&logNo=222124564772</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>힘나는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210514</td>
</tr>






<tr>
<th scope="row">title</th>
<td>실체 : 수익률은 찌질하나 우리의 삶에 안정을 줍니다</td>
</tr>






<tr>
<th scope="row">content</th>
<td>귀염이는 안정을 찾는데 남편의 퇴직이 다가오는 저는 불안해지기 시작했습니다 남편이 꼬박꼬박... 삶에 안정을 줍니다. 이것이 수익형부동산의 진실입니다 그럼 어떤 수익형부동산에 투자하는 것이 좋을까요?... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/flyingowlad?Redirect=Log&logNo=222350484595'>https://blog.naver.com/flyingowlad?Redirect=Log&logNo=222350484595</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>안정</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210526</td>
</tr>






<tr>
<th scope="row">title</th>
<td>[짧고 좋은 글귀] 유명한 명언 영어로!</td>
</tr>






<tr>
<th scope="row">content</th>
<td>짧고 좋은 글귀를 가져왔습니다! 유명한 명언의 영어 표현도 있으니, 카톡 프로필이나, 다이어리에 적고 하반기를 달려볼 의지를 다져봅시다 :) 짧고 좋은 글귀 ① 경험을 현명하게 사용한다면, 어떤... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/hackersingang?Redirect=Log&logNo=222368290839'>https://blog.naver.com/hackersingang?Redirect=Log&logNo=222368290839</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>좋은 글귀</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20200507</td>
</tr>






<tr>
<th scope="row">title</th>
<td>힘나는영양제 혈기양양 홍삼캡슐이라 먹기 편해요</td>
</tr>






<tr>
<th scope="row">content</th>
<td>이번에 제가 챙겨먹고 있는 힘나는 영양제 혈기양양 홍삼캡슐인데요 식약처에서 인증 받은... 힘나는영양제 혈기양양으로 혈기양양 해보자구요!! &lt; 혈기양양에서 제품을 제공받아 작성 된 후기&gt;</td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/kwonbbojoa?Redirect=Log&logNo=221950936104'>https://blog.naver.com/kwonbbojoa?Redirect=Log&logNo=221950936104</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>힘나는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210519</td>
</tr>






<tr>
<th scope="row">title</th>
<td>힘나는 글귀, '내가 지칠 때' 좋은 명언</td>
</tr>






<tr>
<th scope="row">content</th>
<td>그래서 오늘은 마인드를 바꿔서 이 어려운 시기에 조금이라도 도움 될 수 있는 조금이라도 힘나는 글귀를 가져왔습니다. 지칠 때 도움이 됐으면 좋겠습니다. 상황에 맞는 힘나는 글귀 많은 상황들이 있지만... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/rpointseoul?Redirect=Log&logNo=222356349203'>https://blog.naver.com/rpointseoul?Redirect=Log&logNo=222356349203</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>힘나는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210601</td>
</tr>






<tr>
<th scope="row">title</th>
<td>간편하게 신청 가능한 대여제도 2 – 보증보험 생활안정자금</td>
</tr>






<tr>
<th scope="row">content</th>
<td>지난 시간 자기담보 생활안정자금에 대해서 소개해 드렸는데요. 오늘은 대여제도 중 납입회비(탈퇴예정급여금)보다 많은 금액이 필요하신 경우 대여받을 수 있는 보증보험 생활안정자금에 대해... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/pobain?Redirect=Log&logNo=222378958959'>https://blog.naver.com/pobain?Redirect=Log&logNo=222378958959</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>안정</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210531</td>
</tr>






<tr>
<th scope="row">title</th>
<td>짧고 좋은 글귀 모음 - 인생이 힘들게 느껴질 때 좋은 글</td>
</tr>






<tr>
<th scope="row">content</th>
<td>짧고 좋은 글귀 모음 - 인생이 힘들게 느껴질 때 좋은 글 안녕하세요. 출간하고 싶은 출판사, 네이버 공식 인플룽너서 '스타리치북스' 블로그 입니다. 오늘은 짧고 좋은 글귀 모음 - 인생이 힘들게 느껴질 때 좋은... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/books_han?Redirect=Log&logNo=222377005523'>https://blog.naver.com/books_han?Redirect=Log&logNo=222377005523</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>좋은 글귀</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>

<table class="type03">




<tr>
<th scope="row">postdate</th>
<td>20210106</td>
</tr>






<tr>
<th scope="row">title</th>
<td>낙지볶음 만드는법 힘나는 낙지요리</td>
</tr>






<tr>
<th scope="row">content</th>
<td>새해 온가족 기운 좀 내볼까 하는 마음에서 힘나는 낙지요리, 낙지볶음을 만들어봤어요 낙지볶음에... 법 힘나는 낙지요리 낙지 4마리, 콩나물 1/2봉지, 대파 1대, 양파 1개, 당근 약간, 청양고추 2개, 홍고추 1개... </td>
</tr>






<tr>
<th>link</th>
<td><a href = 'https://blog.naver.com/sunwly?Redirect=Log&logNo=222198064800'>https://blog.naver.com/sunwly?Redirect=Log&logNo=222198064800</a></td>
</tr>







<tr>
<th scope="row">keyword</th>
<td>힘나는</td>
</tr>






<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>




</table>
<br>



<br><br><br><br>
</section>

<section id="content2" style="margin-bottom:20px;">
<h1><img src="https://user-images.githubusercontent.com/71917474/120523593-07d7bf80-c411-11eb-934f-b7967d80a534.png" align="center" width="10%" height="10%" /> Twitter</h1>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 03:23:07</td>
</tr>

<tr>
<th scope="row">content</th>
<td>학문의 목적은
음식이 기력을 돋우는 피가 되듯
지식을 자신의 사상으로 만드는 데 있다.
- 제임스 브라이스 -
[출처] 명언모음, 좋은글귀 [배움의 열정]|작성자 스코필드</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>좋은 글귀</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:40:23</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @drivejyu: 비하인드 스토리: 동생이 친구랑 운동한다고 강쥐 데리고 거주지 인근 하천을 걸어다녔는데 힘들어서 드러누워버리더니 안일어나길래 결국 동생말고 동생친구가 업고 집에 감 넘 안정적으로 갔다고 함 꼬리 푸짐한것도 정말 웃겼음 htt…</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>8711</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>안정</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 07:56:09</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @taemin_comeback: 브이앱에서는 태민이에게 예쁜말❤힘나는말로 가득 댓글 남겨주세요🔥🔥
#TAEMIN_Advice_6PM</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>62</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>힘나는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-17 19:36:14</td>
</tr>

<tr>
<th scope="row">content</th>
<td>그나저나 책으로 출간됐으면 좋겠네. 디지털은 쉽게 휘발된다. 가끔은 그 글귀를, 장면을 손끝으로 지긋이 누르면서 인쇄 된 종이향을 맡으며 읽고 싶기도 하다. 나는 사랑하는 것을 잘 하면서도 못 한다.  그래… https://t.co/1PW7RM1OCW</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>2</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>좋은 글귀</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 07:46:35</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @taemin_comeback: 브이앱에서는 태민이에게 예쁜말❤힘나는말로 가득 댓글 남겨주세요🔥🔥
#TAEMIN_Advice_6PM</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>62</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>힘나는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 07:59:35</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @taemin_comeback: 브이앱에서는 태민이에게 예쁜말❤힘나는말로 가득 댓글 남겨주세요🔥🔥
#TAEMIN_Advice_6PM</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>62</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>힘나는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-17 17:17:01</td>
</tr>

<tr>
<th scope="row">content</th>
<td>항상 저런 좋은 말들, 글귀 캡 해서 팬들에게 보여주는게 참 좋아</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>5</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>좋은 글귀</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 01:29:25</td>
</tr>

<tr>
<th scope="row">content</th>
<td>&lt;민호의 가방속&gt;'최민호'란 이름 세글자가 선명한 노트가 가장 먼저 눈에 들어왔다. 문득 떠오르는 아이디어와 가사, 책에서 본 좋은 글귀, 작업 과정을 꼼꼼히 메모한 노트다.</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>1</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>좋은 글귀</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 10:37:54</td>
</tr>

<tr>
<th scope="row">content</th>
<td>@murakamiradio2 반가운 소식이네요 휴가중님과 가족 분도 좀 안정을 찾으실 수 있으면 좋겠네요 ^^ 모쪼록 오늘밤은 좀 더 편안한 밤이 되시길 빌어요</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>2</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>0</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>안정</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>

<table class="type03">

<tr>
<th scope="row">time</th>
<td>2021-05-18 07:53:22</td>
</tr>

<tr>
<th scope="row">content</th>
<td>RT @Tmtkfkd_718: 브이앱댓글힘나는말들로만가득
#TAEMIN_Advice_6PM
채워서해주기사랑만주기</td>
</tr>

<tr>
<th scope="row">likey</th>
<td>0</td>
</tr>

<tr>
<th scope="row">retweet</th>
<td>35</td>
</tr>

<tr>
<th scope="row">keyword</th>
<td>힘나는</td>
</tr>

<tr>
<th scope="row">feeling</th>
<td>불안</td>
</tr>

</table>
<br>



<br><br><br><br>
</section>

<section id="content3" style="margin-bottom:0;">

<h1><img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" /> Instagram</h1>

<!--    <img src="https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/s1080x1080/195341014_213035993991679_5147026162717199418_n.jpg?tp=1&_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=107&_nc_ohc=u3FUft5MEgsAX-IgnpX&tn=d1MtGnpJUegW3y5S&edm=AABBvjUBAAAA&ccb=7-4&oh=7bc8491fbafda102c4c986a3784efd9c&oe=60C67BA1&_nc_sid=83d603-->
<!--" align="center" width="10%" height="10%" />-->

    <embed src="https://www.instagram.com/p/CPvPDDMlm1K/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%"></iframe>

    <embed src="https://www.instagram.com/p/CP4EaGrtjHZ/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%"></iframe>

    <embed src="https://www.instagram.com/p/CP2XE0GJwLM/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%"></iframe>

    <embed src="https://www.instagram.com/p/CP3Qix1NTUH/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%"></iframe>

    <embed src="https://www.instagram.com/p/CE8w54tF0fe/embed/" display="inline" frameborder="0" scrolling="no" allowtransparency="true" height="1000px" width="50%"></iframe>

<!--<h1><img src="https://user-images.githubusercontent.com/71917474/120525039-a6b0eb80-c412-11eb-8f0c-4d80c3e47f14.jpg" align="center" width="10%" height="10%" /> Instagram</h1>-->
<!--<img src="" align="center" />-->



<!--    -->
</section>
</div>
</body>



</html>